/* AvenirNextLTPro */
@font-face {
 font-family: 'AvenirNextLTPro';
 font-style: normal;
 font-weight: normal;
 src: 
	 url ('https://raw.githubusercontent.com/presalesaplab/customFonts4Made/AvenirNextLTPro-Bold.otf') format('otf'),
	 url ('https://raw.githubusercontent.com/presalesaplab/customFonts4Made/AvenirNextLTPro-It.otf') format('otf'),
	 url ('https://raw.githubusercontent.com/presalesaplab/customFonts4Made/AvenirNextLTPro-Regular.otf') format('otf');
 }

